kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: micro-kotlin
nodes:
  - role: control-plane
    image: kindest/node:v1.33.7
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        apiVersion: kubeadm.k8s.io/v1beta3
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - containerPort: 80
        hostPort: 8880
        protocol: TCP
      - containerPort: 443
        hostPort: 8443
        protocol: TCP
  - role: worker
    image: kindest/node:v1.33.7
  - role: worker
    image: kindest/node:v1.33.7
