apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-gateway-conf
  namespace: infra
data:
  otel-gateway.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    exporters:
      prometheus:
        endpoint: "0.0.0.0:8889"
      otlp:
        endpoint: "http://tempo:4317" # Point to Docker Tempo
        tls:
          insecure: true
      loki:
        endpoint: "http://loki:3100/loki/api/v1/push" # Point to Docker Loki
    service:
      pipelines:
        metrics:
          receivers: [otlp]
          exporters: [prometheus]
        traces:
          receivers: [otlp]
          exporters: [otlp]
        logs:
          receivers: [otlp]
          exporters: [loki]