apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: auth-service
          env:
            - name: SPRING_R2DBC_URL
              value: r2dbc:postgresql://postgres:5432/micro_kotlin
            - name: SPRING_REDIS_HOST
              value: redis
          ports:
            - containerPort: 8881
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: apps
spec:
  ports:
    - port: 80
      targetPort: 8881
  selector:
    app: auth-service